Vouch proxy fails if URL is correctly escaped in nginx conf

Consider the following nginx configuration, which works:

```
location @unauthenticatedLoginRedirect {
	return 302 https://login.$http_host/login?url=https://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err;
}
```

and the following, which doesn't:

```
location @unauthenticatedLoginRedirect {
	return 302 https://login.$http_host/login?url=https%3a%2f%2f$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err;
}
```

These two URLs are the same except that:

 * The first one is not a valid URL according to [RFC 3986 § 2.2](https://tools.ietf.org/html/rfc3986#section-2.2), but it works in Vouch 
 * The second one is a correct percent-encoding of the first URL and is valid according to the RFC, but it doesn't work in Vouch

The reason that the latter doesn't work is that vouch (starting with a353c1981cb2bda47c575f265299640b64506b17) makes a questionable attempt to correctly interpret invalid URLs coming from nginx. Specifically, it attempts to allow URLs such as

```
login?url=x?p1=1&p2=2&vouch-failcount=q
```

in which `p1` and `p2` are supposed to be a part of `url`. These URLs are semantically incorrect and should be 

```
login?url=x%3fp1%3d1%26p2%3d2&vouch-failcount=q
```

That is, **all** of `?=&` must be percent encoded to make this semantically correct per the RFC. 

Vouch's attempt at being liberal in what it accepts leads to a failure with URLs that *are* semantically correct; specifically: `getValidRequestedURL` [calls](https://github.com/vouch/vouch-proxy/blob/dfbd013f1043ba9548b3cedee466b9993210a3c4/handlers/login.go#L122) `HasPrefix` to check for http:// or https://, and fails on a correctly encoded URL.

I am going to argue that this approach to correctly interpreting invalid URLs should be abandoned in favor of a different approach, as the current approach has multiple flaws. In addition to the problem I am reporting here, the current approach taken by `getValidRequestedURL` will fail in the following cases:

 * the `url` param is not the first param, because of [this code](https://github.com/vouch/vouch-proxy/blob/dfbd013f1043ba9548b3cedee466b9993210a3c4/handlers/login.go#L113)
 * the `vouch-failcount` param is not the second param because of [this code](https://github.com/vouch/vouch-proxy/blob/dfbd013f1043ba9548b3cedee466b9993210a3c4/handlers/login.go#L112)

In other words, the current approach breaks semantics of URLs in multiple ways, which is bad.

Instead, I recommend the following approach, which will work in all the above cases *and* maintain the goal of handling URL params which are not correctly encoded, but can be reasonably interpreted. Consider the following URL as an example:

```
login?url=x?p1=1&p2=2&vouch-failcount=q
```

 * Do not access `RawQuery` of `r.URL`
 * Instead, access the parsed query, which will produce `{url: "x?p1=1", p2: "2", vouch-failcount: "q"}`
 * Enumerate all the parameters in the parsed query and identify all that do not belong to vouch (which I think is everything that doesn't start with `vouch` or `X-Vouch`), here `p2`
 * Add all of those non-vouch parameters to the URL in the `url` parameter, here obtaining `{url: "x?p1=1&p2=2", vouch-failcount: "q"}`
 * Proceed as before to validate the URL

Note that this *will* interpret 

```
login?p3=3&url=x?p1=1&p2=2&vouch-failcount=q
```

to have the url `x?p1=1&p2=2&p3=3`, which I consider questionable.

A more stringent approach that still handles the intended case would only move URL params between `url` and the first vouch param into `url`, thereby turning this example into `{p3: "3", url: "x?p1=1&p2=2", vouch-failcount: "q"}`. I would lean towards rejecting that URL as `p3` is not a valid vouch `/login` param. 

Welcome back @airbornemint. Thanks for the detailed report.  

I agree that this could be improved.  We need to preserve support for existing Nginx configurations.  This has been described in the README since `v0.4.0` as..

```
return 302 https://vouch.yourdomain.com/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err;
```
> A more stringent approach that still handles the intended case would only move URL params between url and the first vouch param into url

That feels more correct to me.  If it's not to the right of `url=` then it's hard to claim that it should be interpreted as part of the final destination URL.  That is what these lines are attempting to do...
https://github.com/vouch/vouch-proxy/blob/dfbd013f1043ba9548b3cedee466b9993210a3c4/handlers/login.go#L112-L113

Perhaps adding a URL decode of of the `url` param after a failed test, and then re-testing, would be enough to satisfy your case and accommodate correct semantics.  Does that sound correct?

I'm surmising that you are modifying a custom or customized app to utilize VP for login, is that correct?  Where does the argument `p3=3` come from?  Are you daisy chaining back to the app via some intermediary which requires that argument?  I'd like to understand your use case a bit better.

Nginx makes it hard to accommodate a properly formatted URL without doing backfilps.  A more correct solution may be to document usage of [$uri](https://stackoverflow.com/questions/48708361/nginx-request-uri-vs-uri) as..
```
return 302 https://vouch.yourdomain.com/login?url=$scheme://$http_host$uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err;
```
But even that wouldn't satisfy `$scheme` since as you describe it should be `https%3a%2f%2f`.

Perhaps it's would be best to add `https%3a%2f%2f` and `http%3a%2f%2f` to the allowed list in `getValidRequestedURL`.


The `p3=3` example was poorly stated in my original message. My point was:

 * I proposed two solutions:
   * Solution #1 = treat every non-vouch URL param as if it belongs to the destination URL and
   * Solution #2 = only treat non-vouch URL params immediately following the `url` param as belonging to the destination URL
 * Solution 1 is easier to implement
 * Solution 2 is less permissive
   * Because solution 2 would reject URLs for the form `…?p3=3&url=…` where `p3` is not a known vouch param

I wasn't saying that I actually have a use case for non-vouch param before the `url` param; I was just saying that solution 1 would allow that even though I don't see a valid use case for it

I wouldn't bother adding `https%3a%2f%2f` to the filter because that's still just a hack and ails in the other two ways that I described in my report. I think that the correct solution is one of the two that I proposed (as summarized above), both of which fix all three problems I listed and still address the original reason this code was written (of allowing sketchy nginx configs to work as the user expected them to). 



@airbornemint thanks for the code and the clear documentation of the intention in the tests

Forgive me but I'm still trying to understand what is different in the logic you have produced versus plucking everthing between `url` and `vouch-failcount`.  Is it the formality that is better?
https://github.com/vouch/vouch-proxy/blob/dfbd013f1043ba9548b3cedee466b9993210a3c4/handlers/login.go#L112-L113

I don't mean to sound critical, I would like to understand.


For one, the logic I submitted works correctly when the `url` param is encoded to be RFC-compliant (that is, its `://` is percent-escaped). For two, the logic I submitted works regardless of whether the `vouch-failcount` param is immediately after the `url` param.

If you'd like, I can add specific unit tests to demonstrate that, but examples would be:

 * (reason 1) `http://host/login?vouch-failcount=1&url=http://host/path`
 * (reason 2) `http://host/login?url=http%3a%2f%2fhost/path&vouch-failcount=1`
 * (reasons 1+2) `http://host/login?vouch-failcount=1&url=http%3a%2f%2fhost/path`

In retrospect, I should have included those in my unit tests 🙂 


We should consider the use of semicolon as param delimeter in the spirit of RFC compliance..
https://stackoverflow.com/questions/3481664/semicolon-as-url-query-separator#3481710

thanks for the explanation @airbornemint I'll make some minor adjustments and merge (probably not today)

Accepting semicolons as delimiters is an easy change; want me to make it before you merge?

@airbornemint yeah that'd be great!

Done, also added an additional unit test that differentiates this from the previous code.


@airbornemint thanks much for the contribution!